@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-background {
    animation: backgroundMove 20s linear infinite;
  }
  
  @keyframes backgroundMove {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(50px, 50px);
    }
  }
}
